html {
  scroll-behavior: smooth;
  font-size: 14px;
}
body {
  color: #333333;
  font-family: 'Open Sans';
  font-size: 14px;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}
p a {
  color: #D31473;
}
p a:hover {
  text-decoration: underline;
}
button {
  border: 0;
}
input:active,
:hover,
:focus,
select:active,
:hover,
:focus,
option:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
textarea {
  padding: 0;
}
h1 {
  font-size: 2.8571rem;
}
h2 {
  font-size: 3.8571rem;
}
h3 {
  font-size: 1.857rem;
}
h4 {
  font-size: 1.571rem;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.block-header {
  margin-bottom: 50px;
  font-family: Book Antiqua;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8571rem;
  text-align: center;
}
.buttom-normal {
  width: 270px;
  margin: 0 auto;
  padding: 19px 0;
  font-size: 1.4286rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #D31473;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  color: #D31473;
}
.timer__counter {
  display: flex;
  font-size: 23px;
}
.timer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9px;
  color: #0F3978;
  text-align: center;
}
.timer__item_description {
  text-transform: lowercase;
  color: #333;
  font-size: 9px;
}
.bread-crumbs {
  margin: 30px 0 10px 0;
}
.bread-crumbs__item {
  color: #555555;
}
.bread-crumbs__item:after {
  padding: 0 3px;
  content: '/';
}
.bread-crumbs__item:last-child {
  color: #989898;
}
.bread-crumbs__item:last-child:after {
  content: '';
}
/* header */
.sticky-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.top-header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-content: center;
}
.top-header-item {
  display: flex;
  align-items: center;
  text-align: center;
}
.header-delivery {
  margin-bottom: 9px;
}
.header-city {
  margin-bottom: -5px;
}
.header-city span {
  color: #0F3978;
  margin-left: 10px;
  border-bottom: 1px dashed #0F3978;
}
.top-menu {
  width: 588px;
}
.top-menu__item {
  position: relative;
  display: block;
  margin-right: 34px;
}
.top-menu__item:nth-child(2):after {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 5px;
  margin-left: 4px;
  content: ' ';
  background: url(../img/icon/icon_arrow.svg) no-repeat center;
}
.top-menu__item a {
  color: #333;
}
.top-menu__item:hover {
  color: #D31473;
  transition: 0.5s;
}
.top-menu__item:hover .sub-menu {
  display: flex;
  position: absolute;
  text-align: left;
}
.search-form {
  cursor: pointer;
}
.search-form-item {
  position: relative;
  display: none;
}
.search-form-input {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #D31473;
}
.search-form-close {
  position: absolute;
  top: 3px;
  right: 10px;
  display: block;
  padding: 0 5px;
  font-weight: bold;
  color: #D31473;
  cursor: pointer;
}
.header-phones {
  line-height: 1px;
}
.header-phones__number {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.5714rem;
  color: #D31473;
}
.midle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 165px;
}
.midle-header-wrap {
  background: #F7F7F7;
}
.time-delivery {
  line-height: 21px;
}
.header-logo__item {
  display: flex;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 2.8571rem;
  color: #33448C;
}
.header-logo__item h1 {
  line-height: 57px;
}
.header-tagline {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #D31473;
}
.button-callback {
  width: 165px;
  height: 51px;
  font-size: 1.003rem;
  font-weight: bold;
  text-align: center;
  line-height: 51px;
  color: #0F3978;
  border: 1px solid #0F3978;
  border-radius: 5px;
}
.button-callback:hover {
  color: #fff;
  background: #0F3978;
  transition: 0.7s;
}
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-menu {
  display: none;
}
.main-menu {
  display: flex;
  align-items: center;
  height: 81px;
  font-weight: 600;
  font-size: 1.071rem;
}
.main-menu__item {
  position: relative;
  display: block;
  margin-right: 35px;
  text-transform: uppercase;
}
.main-menu__item:hover > a {
  color: #D31473;
  transition: 0.5s;
}
.main-menu__item a {
  color: #333333;
}
.main-menu__item:hover > .sub-menu {
  position: absolute;
  top: 100%;
  display: flex;
  text-transform: initial;
  font-weight: normal;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.main-menu__item:after {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 5px;
  margin-left: 4px;
  content: ' ';
  background: url('../img/icon/icon_arrow.svg') no-repeat center;
}
.main-menu__item:first-child img {
  margin-right: 5px;
}
.main-menu__item:nth-child(5):after {
  content: none;
}
.header-cart {
  position: relative;
  display: block;
}
.header-cart svg {
  width: 24px;
  fill: #0F3978;
}
.basket-count {
  position: absolute;
  top: 12px;
  left: -16px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background: #D31473;
  color: #fff;
}
.sub-menu {
  display: none;
  padding: 40px;
  background: #fff;
  border-radius: 9px;
}
.sub-menu__col {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.sub-menu__link {
  margin-bottom: 1.214rem;
  white-space: nowrap;
}
.sub-menu__link:hover {
  color: #D31473;
  transition: 0.7s;
}
.wrap-main-slider {
  position: relative;
}
.main-slider {
  max-width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}
.main-slider__banner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  font-size: 0.9286rem;
}
.main-slider__banner_item {
  max-width: 242px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 0 0 9px 9px;
  background-color: rgba(5, 5, 5, 0.3);
  color: #fff;
}
.main-slider__item {
  position: relative;
}
.main-slider__item img {
  width: 100%;
}
.main-slider__text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #ffffff;
  font-weight: bold;
  font-size: 3.35rem;
}
.main-slider__text span {
  font-size: 1.514rem;
  font-weight: normal;
}
.main-slider .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
}
.main-slider .slick-dots li {
  width: 12px;
  height: 12px;
  background: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
.main-slider .slick-dots li.slick-active {
  background: #fff;
}
.banners {
  display: flex;
  margin-bottom: 60px;
}
.banners img {
  max-width: 100%;
}
.banners-item {
  margin-left: 30px;
}
.banners-item__text {
  position: relative;
  z-index: 1;
  height: 50px;
  font-size: 26px;
  color: #fff;
}
.banners-item__text span {
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
.banners-item__text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #97B3DD;
  opacity: 0.5;
  content: '';
}
.first-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  max-width: 470px;
  margin-left: 0px;
  background: url(../img/banner-1.jpg) no-repeat center;
  text-align: center;
}
.right-banners {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.right-banners__bottom {
  display: flex;
  margin-top: 10px;
}
.separator {
  display: block;
  margin: 50px auto;
  text-align: center;
}
.catalog {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.catalog-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.catalog-menu__item {
  margin-left: 44px;
}
.catalog-menu__item:first-child {
  margin-left: 0;
}
.catalog-menu > .active {
  color: #D31473;
}
.catalog-items {
  display: flex;
  flex-wrap: wrap;
}
.catalog-items__all,
.catalog-items__action {
  display: flex;
  flex-wrap: wrap;
}
.card-product {
  width: 22%;
  min-width: 240px;
  margin: 0 15px 60px 15px;
  font-size: 1.2857rem;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card-product__img {
  position: relative;
  margin-bottom: 20px;
}
.card-product__img img {
  width: 100%;
}
.card-product__img_text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 31px;
  transition: 1s;
  opacity: 0;
}
.card-product__img_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #fff;
  opacity: 0;
}
.card-product__img:hover .card-product__img_text {
  transition: 1s;
  opacity: 1;
}
.card-product__img:hover .card-product__img_bg {
  transition: 1s;
  opacity: 0.8;
}
.card-product__action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 1rem;
  color: #fff;
  border-radius: 9px;
  background: #EA8682;
}
.card-product__action.day {
  background: #D797DD;
}
.card-product__title {
  margin-bottom: 15px;
  font-weight: bold;
}
.card-product__cost {
  margin-bottom: 15px;
}
.card-product__cost_item {
  color: #0F3978;
}
.card-product__cost_item:first-child {
  color: #EA8682;
  text-decoration: line-through;
}
.card-product__link {
  color: #555;
  font-size: 1.0714rem;
  text-decoration-line: underline;
}
.card-product__timer {
  margin-top: 15px;
}
.card-product__button {
  width: 230px;
  margin: 18px auto 21px auto;
  padding: 10px 0;
  line-height: 35px;
  color: #fff;
  background: #D31473;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  cursor: pointer;
}
.card-product__button svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: #fff;
}
.middle-action {
  display: flex;
  flex-grow: 1;
  margin-bottom: 60px;
  background: #F7F7F7;
  border-radius: 9px;
}
.middle-action .timer {
  align-self: center;
  flex: 3;
}
.middle-action .timer__title {
  font-size: 34px;
}
.middle-action .timer__item {
  font-size: 50px;
}
.middle-action .timer__item_description {
  font-size: 16px;
}
.middle-action .timer__counter > span {
  margin-top: 4%;
  font-size: 30px;
}
.middle-action__description {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  margin-left: 30px;
}
.middle-action__description span {
  padding-bottom: 37px;
  line-height: 21px;
  color: #555555;
}
.middle-action__title {
  padding: 30px 0px;
  font-size: 1.2857rem;
  text-align: center;
}
.middle-action__button {
  width: 200px;
  margin: 0 auto;
  padding: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #D31473;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.wrap-review {
  margin: 60px auto;
  background: url('../img/review-bg.jpg') no-repeat center;
}
.wrap-review .block-header {
  margin-bottom: 0;
  padding: 60px 0;
  color: #fff;
}
.wrap-review .slider-review {
  position: relative;
  max-width: 830px;
  margin: 0 auto;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.6);
}
.wrap-review .slider-review__item {
  margin-bottom: 30px;
  padding: 50px 30px;
}
.wrap-review .slider-review__item_top {
  clear: both;
  margin-bottom: 20px;
}
.wrap-review .slider-review__item_bot {
  font-style: italic;
  font-size: 1.2857rem;
  line-height: 29px;
}
.wrap-review .slider-review__name {
  font-weight: bold;
  font-size: 1.4286rem;
}
.wrap-review .slider-review__data {
  float: right;
  color: #989898;
}
.wrap-slider-review {
  position: relative;
}
.wrap-slider-review .feedback-l {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-left.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrap-slider-review .feedback-r {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-right.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.review-button {
  display: block;
  max-width: 830px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-style: italic;
  font-size: 1.2857rem;
  text-align: right;
  color: #fff;
  text-decoration: underline;
}
.about-company .block-header {
  margin-bottom: 60px;
}
.about-company__description {
  font-size: 1.143rem;
  line-height: 29px;
  text-align: center;
}
.about-company__description p {
  padding-bottom: 30px;
  text-align: left;
}
.about-company__link {
  color: #0F3978;
  font-size: 1.286rem;
  font-style: italic;
  text-decoration: underline;
}
.about-company__video {
  max-width: 701px;
  height: 393px;
  margin: 60px auto;
}
.block-header.trust {
  position: relative;
  margin-bottom: 112px;
}
.block-header.trust:after {
  position: absolute;
  bottom: -21px;
  left: 50%;
  width: 100px;
  height: 1px;
  background: #D31473;
  content: '';
  transform: translateX(-50%);
}
.slider-trust {
  max-width: 1010px;
  margin: 0 auto;
}
.slider-trust .slick-track {
  display: flex;
  align-items: center;
}
.slider-trust-wrap {
  position: relative;
}
.slider-trust-wrap .arrow-slider-left {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-trust-left.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-trust-wrap .arrow-slider-right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-trust-right.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-trust__item.slick-slide {
  display: flex;
  justify-content: center;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.subscribe-wrap {
  background: #ADD6D7;
  margin: 60px auto;
}
.subscribe__title {
  margin-right: 46px;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 2.143rem;
  color: #fff;
}
.subscribe .buttom-normal {
  margin: 0;
  border: 0;
}
#input-subscribe {
  width: 424px;
  height: 64px;
  margin-right: 30px;
  padding-left: 10px;
  font-size: 1rem;
  font-style: italic;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 6px;
}
.location {
  padding-top: 60px;
  text-align: center;
  background: #F7F7F7;
}
.location__addres {
  font-weight: 600;
  font-size: 1.286rem;
  color: #0F3978;
}
.location__map {
  margin: 20px 0 39px 0;
}
.location .header-phones {
  margin-bottom: 39px;
}
.location .header-phones__number {
  font-size: 1.5714rem;
}
.location .buttom-normal {
  border: 0;
  margin-bottom: 101px;
  background: #0F3978;
}
.location .block-header {
  padding-top: 20px;
}
.footer {
  padding-top: 60px;
  background: #555555;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}
.footer__col {
  padding-bottom: 60px;
  list-style-type: none;
  color: #fff;
  font-size: 1.143rem;
  line-height: 29px;
}
.footer__col_title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.571rem;
}
.footer__col_social {
  margin-top: 22px;
  display: flex;
}
.footer__col_social_item {
  margin-right: 20px;
}
.footer__col a {
  color: #fff;
  font-size: 1.143rem;
}
.footer__col a:hover {
  color: #D31473;
  transition: 0.7s;
}
.footer-bot {
  padding: 16px 0;
  background: #333;
}
.footer-bot a {
  color: #c4c4c4;
  text-decoration: underline;
}
.catalog_page__wrap {
  display: flex;
}
.left-menu {
  min-width: 268px;
  margin-right: 32px;
}
.left-menu__item {
  margin-bottom: 20px;
  padding: 20px;
  font-weight: 600;
  font-size: 1.071rem;
  background: #F7F7F7;
  border-radius: 6px;
}
.left-menu__item_title {
  text-transform: uppercase;
  color: #0F3978;
}
.left-menu__list {
  margin-top: 20px;
  font-size: 15px;
  line-height: 29px;
}
.left-menu__list_item .expand-list {
  vertical-align: middle;
  cursor: pointer;
}
.left-menu__list a {
  text-transform: initial;
  color: #555555;
}
.left-menu__list a:hover {
  color: #D31473;
}
.left-menu__sub_menu .left-menu__list_item {
  padding-left: 20px;
}
.catalog_page__products_menu_item {
  width: 200px;
  height: 40px;
  margin-right: 18px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 0;
}
.catalog_page__products_menu_item:last-child {
  margin-right: 0;
}
.catalog_page__products_menu_item:focus,
.catalog_page__products_menu_item :hover {
  border: 1px solid #D31473;
  border-radius: 6px;
}
.catalog_page__products .catalog_page__products_menu_item {
  margin-bottom: 10px;
}
.catalog_page__products .count-result {
  display: block;
  padding: 10px 0;
  text-align: right;
}
.catalog_page__products .catalog-items {
  margin-top: 41px;
  justify-content: center;
}
.catalog_page__products .card-product {
  width: 29%;
}
.catalog_page__products .card-product__title {
  font-size: 1.757rem;
}
.page-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.page-product__info {
  flex: 1;
}
.page-product__description {
  display: flex;
  justify-content: space-around;
}
.page-product__description_col {
  max-width: 270px;
  display: flex;
  flex-direction: column;
}
.page-product__description_col:first-child {
  margin-left: 10px;
  margin-right: 40px;
}
.page-product__description_col .timer {
  margin: 0 0 30px 0;
  padding: 20px 0;
  background: #F7F7F7;
  border-radius: 6px;
}
.page-product__description_col .card-product__cost {
  font-size: 1.714rem;
}
.page-product__description_col .card-product__button {
  margin: 0 0 20px 0;
  text-align: center;
}
.page-product__description_col .buy-btn {
  background: #0F3978;
}
.page-product__description_col .catalog_page__products_menu_item {
  width: 230px;
  margin: 0 0 20px;
}
.page-product__description_col:nth-child(2) {
  margin-right: 0;
}
.page-product__description .product-article {
  font-weight: 600;
  text-transform: uppercase;
  color: #0F3978;
  margin-bottom: 30px;
}
.page-product__description .product-article span {
  font-weight: normal;
  color: #555555;
}
.page-product__description .bouquet-size {
  margin-bottom: 20px;
}
.page-product__description .bouquet-size__title {
  margin-bottom: 10px;
}
.page-product__description .bouquet-size__wrap {
  display: flex;
  margin: 10px 0;
}
.page-product__description .bouquet-size__item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  padding: 7px;
  text-align: center;
  font-size: 1.286rem;
  background: #F7F7F7;
  border-radius: 6px;
  cursor: pointer;
}
.page-product__description .bouquet-size__item:hover {
  color: #D31473;
}
.page-product__description .number-flowers {
  margin-bottom: 30px;
}
.page-product__description .number-flowers__wrap {
  display: flex;
  margin: 10px 0;
}
.page-product__description .number-flowers__item {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.page-product__description .number-flowers__item:nth-child(odd) {
  color: #D31473;
}
.page-product__description .delivery-info {
  display: flex;
  color: #0F3978;
}
.page-product__description .delivery-info img {
  align-self: flex-start;
  margin-right: 9px;
}
.page-product__description .bouquet-description {
  margin-bottom: 40px;
  line-height: 25px;
}
.page-product__description .bouquet-description__title {
  display: block;
  margin-bottom: ;
  font-weight: 600;
  font-size: 1.286rem;
  text-transform: uppercase;
  color: #0F3978;
}
.page-product__description .bouquet-description__item span {
  font-weight: bold;
}
.page-product__description .card-product__cost {
  font-size: 1.714rem;
}
.page-product-subscribe {
  margin-bottom: 61px;
  font-size: 1.143rem;
}
.page-product-subscribe img {
  margin-left: 10px;
  cursor: pointer;
}
.page-product__description-card {
  margin-bottom: 100px;
}
.page-product__description-card_title {
  font-weight: bold;
  font-size: 1.857rem;
}
.page-product__description-card p {
  margin-top: 20px;
  font-size: 1.143rem;
  line-height: 29px;
}
.recently-watched-items {
  margin-bottom: 100px;
}
.recently-watched-items .catalog-items {
  align-items: flex-start;
}
.gifts-items {
  padding: 100px 0;
  background: #F7F7F7;
}
.gifts-items .slider-gift-wrap .card-product__cost_item {
  color: #0F3978;
  text-decoration: none;
}
.slider-gift-wrap,
.slider-related-wrap {
  position: relative;
}
.slider-gift-arr-l,
.slider-related-arr-l {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/left-rose-arr.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-gift-arr-r,
.slider-related-arr-r {
  position: absolute;
  top: 50%;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/right-rose-arr.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrap-review.card-product-review {
  padding-top: 40px;
  margin-top: -20px;
}
.wrap-review.card-product-review .block-header {
  padding-top: 5px;
}
.slider-page-product {
  flex: 1;
}
.basket {
  margin-bottom: 100px;
}
.basket__nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D31473;
}
.basket__nav_step {
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 1.286rem;
  color: #989898;
}
.basket__nav_step.active {
  color: #D31473;
}
.basket__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 25px;
}
.basket__table_naming {
  margin-top: -15px;
}
.basket__table_naming li {
  margin-bottom: 5px;
}
.basket__table_naming li:first-child {
  margin-bottom: 15px;
}
.basket__table_cost .card-product__cost_item {
  font-size: 1.714rem;
  color: #0F3978;
  text-decoration: none;
}
.basket__table tr {
  border-bottom: 1px dashed #D31473;
}
.basket__table tr:first-child {
  border-bottom: 0;
}
.basket__table tr:last-child {
  border-bottom: 1px solid #D31473;
}
.basket__table th {
  text-align: left;
}
.basket__table td {
  margin-top: -15px;
  padding: 15px;
}
.basket__table_img {
  width: 215px;
}
.basket__table .table_num {
  display: flex;
}
.basket__table .table_num input {
  border: none;
}
.basket__table .table_num__item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  line-height: 40px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
.basket__table .table_title {
  font-size: 1.143rem;
  color: #989898;
}
.basket__table .table_title th {
  padding-left: 15px;
}
.basket__table .table_delete {
  cursor: pointer;
}
.basket__table span {
  display: block;
}
.basket__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
  align-items: center;
  background: #f7f7f7;
  border-radius: 9px;
}
.basket__bottom_item {
  padding: 38px 0;
  font-size: 1.286rem;
}
.basket__bottom_item span {
  font-weight: bold;
}
.basket__bottom_item:nth-child(2) {
  font-size: 1.714rem;
  font-weight: bold;
}
.basket__bottom_item:nth-child(2) span {
  font-weight: normal;
  color: #0F3978;
}
.basket__bottom_item p {
  margin-bottom: 20px;
}
.basket__bottom .buttom-normal {
  margin: 0;
}
.basket h3 {
  margin: 40px 0 20px 0;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 20px;
}
.form-step-2 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
}
.form-step-2-anonim {
  display: flex;
  justify-content: space-between;
  color: #0F3978;
}
.form-step-2-wrap {
  align-self: stretch;
  margin: 40px 0 60px 0;
  padding: 10px 0;
  border-top: 1px solid #D31473;
  border-bottom: 1px solid #D31473;
}
.form-step-2-wrap p {
  font-size: 1.143rem;
}
.form-step-2__col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
}
.form-step-2__col:last-child {
  margin-right: 0;
}
.form-step-2__col label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #989898;
}
.form-step-2__col input,
.form-step-2__col textarea {
  padding-left: 15px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 0;
}
.form-step-2__col input {
  height: 40px;
}
.form-step-2__col textarea {
  height: 110px;
  padding-left: 0;
  resize: none;
}
.step-second,
.step-third {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-second .radio-wrap p,
.step-third .radio-wrap p {
  max-width: 770px;
  margin-left: 36px;
  margin-bottom: 30px;
  font-size: 1.143rem;
}
.step-third .radio + label:before {
  top: 2px;
}
.step-third .radio + label:after {
  top: 8px;
  left: 0.39em;
}
.step-third label {
  font-family: Book Antiqua;
  font-size: 1.429rem;
  font-weight: bold;
}
.step-third h3 {
  margin-bottom: 45px;
}
.step-third .basket__bottom {
  align-self: stretch;
  background: inherit;
  border-top: 1px solid #D31473;
  border-radius: 0;
}
.step-third .basket__bottom .buttom-normal {
  margin: 30px auto;
}
.step-fourth {
  max-width: 770px;
  margin: 0 auto;
  font-size: 1.143rem;
  line-height: 29px;
}
.step-fourth .block-header {
  color: #0F3978;
}
.step-fourth p {
  margin-bottom: 45px;
}
.step-fourth li {
  margin-bottom: 5px;
}
.step-fourth li span {
  font-weight: bold;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 10px 30px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '\2713';
  color: transparent;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  background: #F7F7F7;
  transition: .2s;
}
.checkbox:checked + label:before {
  font-size: 22px;
  color: #D31473;
  padding-bottom: 2px;
}
.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}
.radio + label:before {
  content: '';
  position: absolute;
  top: -0.016em;
  left: 0.09em;
  width: 16px;
  height: 16px;
  border: 2px solid #D31473;
  border-radius: 50%;
  background: #FFF;
}
.radio + label:after {
  content: '';
  position: absolute;
  top: 0.49em;
  left: 0.546em;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #D31473;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio-wrap {
  margin-bottom: 10px;
}
.opt {
  line-height: 2.071rem;
  overflow: hidden;
}
.opt .block-header {
  text-align: left;
  margin-bottom: 30px;
}
.opt h3,
.opt h4 {
  margin: 30px 0 20px 0;
}
.opt__list li {
  margin-left: 18px;
  list-style-type: disc;
  color: #D31473;
}
.opt__list li span {
  color: #333;
}
.opt__banner {
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  background: url(../img/opt.png) no-repeat center;
  background-size: cover;
  color: #D31473;
}
.opt__banner h2 {
  font-family: Book Antiqua;
  font-weight: bold;
}
.opt__contact {
  display: flex;
  flex-direction: column;
}
.opt__contact_item {
  font-size: 1.143rem;
  color: #333;
}
.opt__contact_item span {
  color: #D31473;
}
.opt__contact_item:hover {
  color: #D31473;
  transition: 0.7s;
}
.opt__form {
  margin-bottom: 100px;
}
.opt__form_item {
  width: 270px;
  height: 40px;
  padding-left: 15px;
  margin-right: 30px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 0;
}
.opt__form_item.textarea {
  width: 875px;
  height: 249px;
  padding: 10px;
  margin-top: 30px;
  resize: none;
}
.opt__form .buttom-normal {
  display: block;
  margin: 0;
  margin-top: 10px;
  background: #0F3978;
}
.error > .container {
  position: relative;
  height: 620px;
  background: url(../img/404.jpg) no-repeat center;
  background-size: cover;
}
.hide {
  display: none;
  transition: 0.5s;
}
.show {
  display: block;
  transition: 0.5s;
}
.error-link {
  position: absolute;
  left: 65%;
  top: 63%;
  display: block;
  width: 300px;
  transform: translate(-65%, -63%);
}
.error-link-item {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #989898;
  transform: rotate(-14deg);
}
.error-link-item span {
  color: #D31473;
}
.error-link-item:hover span {
  text-decoration: underline;
}
.pag-nav {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.pag-nav__item {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.pag-nav__item:hover a {
  color: #D31473;
}
.pag-nav__item.active a {
  color: #D31473;
}
.modal-select-city {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
  padding: 40px;
  text-align: center;
  color: #0F3978;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.modal-select-city span {
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 22px;
  color: #D31473;
}
.modal-select-city .modal-checkbox {
  display: flex;
  margin-top: 35px;
}
.modal-select-city .check-box-wrap {
  margin-right: 50px;
}
.modal-select-city .check-box-wrap:last-child {
  margin-right: 0;
}
.modal-select-city .checkbox + label:before {
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #0F3978;
  background: initial;
}
.modal-select-city .checkbox:checked + label:before {
  font-size: 12px;
  color: #0F3978;
  padding-bottom: 0;
}
.modal-overlay,
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
.menu-overlay {
  opacity: 0.4;
}
.menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 50%;
  height: 100%;
  transition: 0.5s;
  transform: translate(-100%);
  overflow: auto;
}
.menu-mobile .sub-menu {
  flex-direction: column;
  padding: 10px 30px;
}
.menu-mobile__item {
  position: relative;
  padding: 15px 10px;
  border-bottom: 1px solid #555555;
}
.menu-mobile__item a {
  color: #333;
}
.menu-mobile__item a:hover {
  color: #D31473;
}
.menu-mobile__item:after {
  position: absolute;
  top: 27px;
  right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 5px;
  margin-left: 4px;
  content: ' ';
  background: url(../img/icon/icon_arrow.svg) no-repeat center;
}
.menu-active {
  transform: translateX(0%);
  box-shadow: 4px 3px 40px -24px #000000;
}
.content-page {
  position: relative;
  transition: 0.5s;
}
.content-active {
  transform: translateX(50%);
}
.modal-buy {
  position: relative;
  display: flex;
  max-width: 600px;
  background: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.modal-buy-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}
.modal-buy-item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 40px;
  text-align: center;
}
.modal-buy-item:first-child {
  background: #0F3978;
  color: #fff;
}
.modal-buy-item:last-child {
  font-size: 1.286rem;
}
.modal-buy-title {
  font-size: 1.714rem;
  font-family: Book Antiqua;
  font-weight: bold;
  margin-bottom: 31px;
}
.modal-buy-text {
  margin-bottom: 41px;
  font-size: 14px;
  text-align: left;
  line-height: 19px;
}
.modal-buy-input {
  font-style: italic;
  padding: 14px 0 14px 10px;
  margin-bottom: 44px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 6px;
}
.modal-buy-button {
  max-width: 220px;
  padding: 15px 0;
  font-size: 1.286rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #D31473;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #fff;
}
.modal-buy-img {
  margin-bottom: 36px;
}
.modal-buy-name-product {
  font-weight: bold;
  margin-bottom: 10px;
}
.modal-buy-cost {
  font-weight: bold;
}
.modal-buy-close {
  position: absolute;
  right: -15px;
  top: -10px;
  width: 31px;
  height: 31px;
  font-weight: bold;
  text-align: center;
  line-height: 31px;
  color: #0F3978;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .container {
    width: 99%;
    padding: 0 5px;
  }
  .card-product__img_text {
    padding: 26px;
  }
  .slider-gift-arr-l.slick-arrow,
  .slider-gift-arr-r.slick-arrow,
  .slider-related-arr-r.slick-arrow,
  .slider-related-arr-l.slick-arrow {
    display: none !important;
  }
}
@media (max-width: 1150px) {
  .left-menu {
    min-width: 232px;
  }
}
@media (max-width: 1120px) {
  .card-product {
    width: 30%;
  }
  .feedback-l.slick-arrow {
    left: 0;
  }
  .feedback-r.slick-arrow {
    right: 0;
  }
}
@media (max-width: 1050px) {
  .header-phones__number {
    font-size: 1rem;
    margin-left: 2px;
  }
  .header-whatsapp img {
    width: 26px;
  }
  .middle-action__timer {
    margin-top: 10px;
  }
  .middle-action .timer__title {
    font-size: 28px;
    white-space: nowrap;
  }
  .middle-action .timer__item {
    font-size: 38px;
  }
  .basket__bottom_item {
    font-size: 1rem;
  }
  .basket__bottom_item:nth-child(2) {
    font-size: 1.524rem;
  }
  .form-step-2 {
    flex-wrap: wrap;
  }
  .form-step-2__col {
    max-width: 320px;
  }
  .form-step-2__col h3 {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .search-form {
    display: none;
  }
  .middle-action {
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 0;
  }
  .middle-action__timer .timer {
    order: -1;
    min-width: 100%;
    margin-bottom: 15px;
  }
  .card-product__img_text {
    padding: 19px;
  }
  .page-product {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider-page-product {
    margin-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .feedback-l,
  .feedback-r {
    display: none;
  }
  .opt__form_wrap_input {
    display: flex;
    flex-direction: column;
  }
  .opt__form_item {
    margin-bottom: 15px;
  }
}
@media (max-width: 930px) {
  .card-product {
    min-width: 240px;
    width: 29%;
  }
  .form-step-2__col:nth-child(2) {
    margin-right: 125px;
  }
  .form-step-2__col:last-child {
    min-width: 90%;
  }
  .basket__bottom {
    flex-direction: column;
  }
  .basket__bottom_item:first-child {
    padding-bottom: 0;
  }
  .basket__bottom_item:nth-child(2) {
    margin-bottom: 0;
    padding-top: 10px;
  }
  .basket__bottom .buttom-normal {
    margin-bottom: 35px;
  }
}
@media (max-width: 900px) {
  .main-menu {
    display: none;
  }
  .menu-mobile > .main-menu {
    display: flex;
  }
  .burger-menu {
    display: block;
  }
  .opt__form_item.textarea {
    width: 100%;
  }
}
@media (max-width: 880px) {
  .time-delivery {
    display: none;
  }
  .bottom-header {
    padding: 10px;
  }
  .banners,
  .top-menu {
    display: none;
  }
  .catalog_page__products .catalog_page__products_menu_item {
    width: 190px;
  }
}
@media (max-width: 840px) {
  .catalog-items {
    justify-content: center;
  }
}
@media (max-width: 770px) {
  .table_title {
    display: none;
  }
  .table_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .basket__table td {
    width: 36%;
  }
  .basket__table td:last-child {
    width: auto;
  }
  .card-product__cost {
    margin-bottom: 0;
  }
}
@media (max-width: 730px) {
  .midle-header {
    justify-content: center;
  }
  .button-callback,
  .main-slider__banner {
    display: none;
  }
  .main-slider__text {
    font-size: 2.35rem;
  }
  .slider-trust__item.slick-slide {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .opt__banner h2 {
    font-size: 2.8571rem;
  }
}
@media (max-width: 565px) {
  .form-step-2,
  .form-step-2-anonim {
    flex-direction: column;
  }
  .check-box-wrap {
    margin-top: 15px;
  }
  .catalog-menu {
    display: none;
  }
  .card-product {
    width: 56%;
  }
  .main-slider__text {
    font-size: 1rem;
  }
  .middle-action .timer__title {
    font-size: 23px;
    white-space: nowrap;
  }
  .middle-action .timer__item {
    font-size: 33px;
  }
  .form-step-2__col:nth-child(2) {
    margin-right: 0;
  }
  .basket__table td {
    width: auto;
  }
  .page-product__description {
    flex-wrap: wrap;
  }
  .page-product__description_col {
    margin-bottom: 25px;
    align-items: center;
  }
  .page-product__description_col:first-child {
    margin-left: 0;
    margin-right: 0;
  }
  .opt h2,
  .opt h3,
  .opt h4 {
    line-height: 42px;
  }
  .opt__banner {
    height: auto;
  }
  .opt__banner h2 {
    padding: 50px ;
  }
  .opt .block-header {
    text-align: center;
  }
  .error > .container {
    height: 350px;
  }
  .error-link {
    left: 78%;
    top: 59%;
  }
  .error-link-item {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .wrap-review,
  .section-main-slider {
    display: none;
  }
  .opt__banner h2 {
    font-size: 1.8571rem;
  }
  .opt__form_item {
    width: 250px;
  }
  .buttom-normal {
    width: 240px;
  }
}
@media (max-width: 450px) {
  .error-link {
    left: 83%;
  }
  .error-link-item {
    font-size: 14px;
  }
}
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: none;
}
