html {
  scroll-behavior: smooth;
  font-size: 14px;
} 

body {
  color: #333333;
  font-family: 'Open Sans';
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-header {
  margin-bottom: 50px;
  font-family: Book Antiqua;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8571rem;
  text-align: center;
}

.buttom-normal {
  width: 270px;
  margin: 0 auto;
  padding: 19px 0;
  font-size: 1.4286rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #D31473;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* header */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  background: #fff;
}

.top-header {  
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-content: center;
  
}

.top-header > div,
.top-header > nav {
  display: flex;
  align-items: center;
  text-align: center;
}

// город
.header-delivery {
  margin-bottom: 9px;
}
.header-city span {
  color: #0F3978;
  margin-left: 10px;
  border-bottom: 1px dashed #0F3978;
}

// меню
.top-menu {
  width: 588px;

  &__item {    
    color: #333;
    margin-right: 38px;
  }
}

// поиск
.search-form {
  cursor: pointer;
}

// номер
.header-phones__number {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.5714rem;
  color: #D31473;
}

// midle-header

.midle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 165px;

  &-wrap {
    background: #F7F7F7;
  }
}

//logo

.header-logo__item {
  display: flex;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 2.8571rem;
  color: #33448C;

  & h1 {
    font-size: 2.8571rem;
  }
}

.header-tagline {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #D31473;
}

// button
.button-callback {
  width: 165px;
  height: 51px;
  font-size: 1.003rem;
  font-weight: bold;
  text-align: center;
  line-height: 51px;
  color: #0F3978;
  border: 1px solid #0F3978;
  border-radius: 5px;
}

// bottom-header
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// bottom menu

.main-menu {
  display: flex;
  align-items: center;
  height: 81px;
  font-weight: 600;
  font-size: 1.071rem;

  &__item {
    position: relative;
    display: block;
    margin-right: 35px;
    text-transform: uppercase;
    
    & a {
      color: #333333;
    }

    &:hover > .sub-menu {
      position: absolute;
      top: 100%;
      display: flex;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    &:nth-child(n+2):after {
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      content: ' ';
      background: url('../img/icon/icon_arrow.svg') no-repeat center;
    }

    &:first-child {

      & > .main-menu__link {
      color: #D31473;
      }

      & img {
        margin-right: 5px;
      }
    }

    &:nth-child(5):after {
      content: none;
    }

  }
}

.header-cart svg{
  width: 24px;
  fill: #0F3978;
}

// sub-menu
.sub-menu {
  display: none;
  padding: 40px;
  background: #fff;
  border-radius: 9px;
  
  &__col {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  &__link {
    margin-bottom: 17px;
    white-space: nowrap;
  }
}

// slider 

.main-slider {
  max-width: 100%;
  height: 692px;
  margin-bottom: 60px;
  overflow: hidden;

  &__item {
    position: relative;
  }
  &__text {
    position: absolute;
    top: 35%;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.35rem;

    & span {
      font-size: 1.514rem;
      font-weight: normal;
    }
  }
}

// banners
.banners {
  display: flex;
  margin-bottom: 60px;
  &-item {
    margin-left: 30px;

    &:nth-child(n+2) {
      align-self: flex-end;
    }
  }

  &-item__text {
    position: relative;
    z-index: 1;
    height: 50px;
    font-size: 26px;
    color: #fff;    

    & span {
      position: relative;
      z-index: 1;
      vertical-align: middle;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #97B3DD;
      opacity: 0.5;
      content: '';
    }
  }
}

.first-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 470px;
  height: 470px;
  margin-left: 0px;
  background: url(../img/banner-1.jpg) no-repeat center;
  text-align: center;
}

.right-banners {
  display: flex;
  flex-wrap: wrap;
}

.separator {
  display: block;
  margin: 50px auto;
  text-align: center;
}

// catalog
.catalog {
  display: flex;
  flex-direction: column;
  
  &-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    &__item {
      margin-left: 44px;

    }

    & > .active {
      color: #D31473;
    }

  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }
}

// card-product
.card-product {
  width: 270px;
  margin-bottom: 60px;
  font-size: 1.2857rem;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &__img {
    position: relative;
    margin-bottom: 20px;

    &_text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 40px;
      transition: 1s;
      opacity: 0;
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      background: #fff;
      opacity: 0;
    }    

    &:hover &_text {
      transition: 1s;
      opacity: 1;
    }

    &:hover &_bg {
      transition: 1s;
      opacity: 0.6;
    }    

  }

  &__action {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 9px;
    border-radius: 9px;
    background: #EA8682;

    &.day {
      background: #D797DD;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: bold;
  }

  // добавить теньге
  &__cost {
    margin-bottom: 15px;

    &_item {
      color: #0F3978;
      
      &:first-child {
        color:#EA8682; 
        text-decoration: line-through;
      }
    }
  }

  &__link {
    color: #555;
    font-size: 1.0714rem;
    text-decoration-line: underline;
  }

  &__timer {
    margin-top: 15px;
  }

  &__button {
    width: 230px;
    margin: 18px auto 21px auto;
    padding: 10px 0; 
    line-height: 35px;
    color: #fff;
    background: #D31473;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    cursor: pointer;

    & svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      fill: #fff;
    }
  }

}

// middle-action 
.middle-action {
  display: flex;
  margin-bottom: 60px;
  background: #F7F7F7;
  border-radius: 9px;

  &__description {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    margin-left: 30px;

    & span {
      padding-bottom: 37px;
      line-height: 21px;
      color: #555555;
    }
  }

  &__title {
    padding: 30px 0px;
    font-size: 1.2857rem;
    text-align: center;
  }

  &__button {
    width: 200px;
    margin: 0 auto;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;    
    background: #D31473;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
  }

  &__timer {
    width: 500px;
  }
}

// review
.wrap-review {
  margin: 60px 0;
  background: url('../img/review-bg.jpg') no-repeat center /cover;

  & .block-header {
    padding: 60px 0;
    color: #fff;
  }

  .slider-review {
    position: relative;
    max-width: 830px;
    margin: 0 auto;

    &__item {
      margin-bottom: 30px;
      padding: 50px 30px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 9px;

      &_top {
        clear: both;
        margin-bottom: 20px;
      }

      &_bot {
        font-style: italic;
        font-size: 1.2857rem;
        line-height: 29px;
      }
    }

    &__name {
      font-weight: bold;
      font-size: 1.4286rem;
    }

    &__data {
      float: right;
      color: #989898;
    }
  }
}

.wrap-slider-review {
  position: relative;

  & .arrow-slider-left {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 40px;
    height: 40px;
    background: url('../img/icon/arrow-slider-left.svg') no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }
  & .arrow-slider-right {
    position: absolute;
    top: 50%;
    right: 100px;
    width: 40px;
    height: 40px;
    background: url('../img/icon/arrow-slider-right.svg') no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }
}



.review-button {
  display: block;
  max-width: 830px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-style: italic;
  font-size: 1.2857rem;
  text-align: right;
  color: #fff;
  text-decoration: underline;  

}

// abaout_company

.about-company {
  
  & .block-header {
    margin-bottom: 60px;
  }

  &__description {
    font-size: 1.143rem;
    line-height: 29px;
    text-align: center;

    & p {
      padding-bottom: 30px;
      text-align: left;
    }
 
  } 

  &__link {
    color: #0F3978;
    font-size: 1.286rem;
    text-decoration: underline;
  }

  &__video {
    max-width: 701px;
    height: 393px;
    margin: 60px auto;
  }
}

// slider-trust
// убрать дисплей флекс
.block-header.trust {
  position: relative;
  margin-bottom: 112px;
  
  &:after {
    position: absolute;
    bottom: -21px;
    left: 50%;
    width: 100px;
    height: 1px;
    background: #D31473;
    content: '';
    transform: translateX(-50%);
  }
}

.slider-trust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1010px;
  margin: 0 auto;

  &-wrap {
      position: relative;
    
      & .arrow-slider-left {
        position: absolute;
        top: 50%;
        left: -20px;
        width: 40px;
        height: 40px;
        background: url('../img/icon/arrow-slider-trust-left.svg') no-repeat center;
        transform: translateY(-50%);
        cursor: pointer;
      }
      & .arrow-slider-right {
        position: absolute;
        top: 50%;
        right:-20px;
        width: 40px;
        height: 40px;
        background: url('../img/icon/arrow-slider-trust-right.svg') no-repeat center;
        transform: translateY(-50%);
        cursor: pointer;
      }
  }
}

// subscribe

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  &-wrap {
    background: #ADD6D7;
    margin: 60px 0;
  }

  &__title {
    margin-right: 46px;
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 2.143rem;
    color: #fff;
  }

  & .buttom-normal {
    margin: 0;
    border: 0;
  }
}

#input-subscribe {
  width: 424px;
  height: 64px;
  margin-right: 30px;
  padding-left: 10px;
  font-size: 1rem;
  font-style: italic;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 6px;
}

// location

.location {
  text-align: center;

  &__addres {
    font-weight: 600;
    font-size: 1.286rem;
    color: #0F3978;
  }

  &__map {
    margin: 20px 0 39px 0;
  }

  & .header-phones {
    margin-bottom: 39px;
  }

  & .buttom-normal {
    border: 0;
    margin-bottom: 101px;
  }

}

// footer

.footer {
  padding-top: 60px;
  background: #555555;
  
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    padding-bottom: 60px;    
    list-style-type: none;
    color: #fff;
    font-size: 1.143rem;
    line-height: 29px;

    &_title {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 1.571rem;
    }

    &_social {
      margin-top: 22px;
      display: flex;

      &_item {
        margin-right: 20px;
      }
    }

    & a {
      color: #fff;
      font-size: 1.143rem;

      &:hover {
        color: #D31473;
        transition: 0.7s;
      }
    }
  }

  &-bot {
    padding: 16px 0;
    background: #333;

    & a {
      color: #c4c4c4;
      text-decoration: underline;
    }
  }
}