html {
  scroll-behavior: smooth;
  font-size: 14px;
}
body {
  color: #333333;
  font-family: 'Open Sans';
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}
button {
  border: 0;
}
input:active,
:hover,
:focus,
select:active,
:hover,
:focus,
option:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.block-header {
  margin-bottom: 50px;
  font-family: Book Antiqua;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8571rem;
  text-align: center;
}
.buttom-normal {
  width: 270px;
  margin: 0 auto;
  padding: 19px 0;
  font-size: 1.4286rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #D31473;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  color: #D31473;
}
.timer__counter {
  display: flex;
  font-size: 23px;
}
.timer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9px;
  color: #0F3978;
  text-align: center;
}
.timer__item_description {
  text-transform: lowercase;
  color: #333;
  font-size: 9px;
}
.bread-crumbs {
  margin: 30px 0 10px 0;
}
.bread-crumbs__item {
  color: #555555;
}
.bread-crumbs__item:after {
  padding: 0 3px;
  content: '/';
}
.bread-crumbs__item:last-child {
  color: #989898;
}
.bread-crumbs__item:last-child:after {
  content: '';
}
/* header */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.top-header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-content: center;
}
.top-header > div,
.top-header > nav {
  display: flex;
  align-items: center;
  text-align: center;
}
.header-delivery {
  margin-bottom: 9px;
}
.header-city span {
  color: #0F3978;
  margin-left: 10px;
  border-bottom: 1px dashed #0F3978;
}
.top-menu {
  width: 588px;
}
.top-menu__item {
  color: #333;
  margin-right: 38px;
}
.top-menu__item:hover {
  color: #D31473;
  transition: 0.5s;
}
.search-form {
  cursor: pointer;
}
.header-phones__number {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.5714rem;
  color: #D31473;
}
.midle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 165px;
}
.midle-header-wrap {
  background: #F7F7F7;
}
.header-logo__item {
  display: flex;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 2.8571rem;
  color: #33448C;
}
.header-logo__item h1 {
  font-size: 2.8571rem;
}
.header-tagline {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #D31473;
}
.button-callback {
  width: 165px;
  height: 51px;
  font-size: 1.003rem;
  font-weight: bold;
  text-align: center;
  line-height: 51px;
  color: #0F3978;
  border: 1px solid #0F3978;
  border-radius: 5px;
}
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu {
  display: flex;
  align-items: center;
  height: 81px;
  font-weight: 600;
  font-size: 1.071rem;
}
.main-menu__item {
  position: relative;
  display: block;
  margin-right: 35px;
  text-transform: uppercase;
}
.main-menu__item a {
  color: #333333;
}
.main-menu__item:hover > .sub-menu {
  position: absolute;
  top: 100%;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.main-menu__item:nth-child(n+2):after {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 5px;
  margin-left: 4px;
  content: ' ';
  background: url('../img/icon/icon_arrow.svg') no-repeat center;
}
.main-menu__item:first-child > .main-menu__link {
  color: #D31473;
}
.main-menu__item:first-child img {
  margin-right: 5px;
}
.main-menu__item:nth-child(5):after {
  content: none;
}
.header-cart svg {
  width: 24px;
  fill: #0F3978;
}
.sub-menu {
  display: none;
  padding: 40px;
  background: #fff;
  border-radius: 9px;
}
.sub-menu__col {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.sub-menu__link {
  margin-bottom: 1.214rem;
  white-space: nowrap;
}
.sub-menu__link:hover {
  color: #D31473;
  transition: 0.7s;
}
.wrap-main-slider {
  position: relative;
}
.main-slider {
  max-width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}
.main-slider__item {
  position: relative;
}
.main-slider__item img {
  width: 100%;
}
.main-slider__text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #ffffff;
  font-weight: bold;
  font-size: 3.35rem;
}
.main-slider__text span {
  font-size: 1.514rem;
  font-weight: normal;
}
.main-slider .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
}
.main-slider .slick-dots li {
  width: 12px;
  height: 12px;
  background: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
.main-slider .slick-dots li.slick-active {
  background: #fff;
}
.banners {
  display: flex;
  margin-bottom: 60px;
}
.banners-item {
  margin-left: 30px;
}
.banners-item:nth-child(n+2) {
  align-self: flex-end;
}
.banners-item__text {
  position: relative;
  z-index: 1;
  height: 50px;
  font-size: 26px;
  color: #fff;
}
.banners-item__text span {
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
.banners-item__text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #97B3DD;
  opacity: 0.5;
  content: '';
}
.first-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 470px;
  height: 470px;
  margin-left: 0px;
  background: url(../img/banner-1.jpg) no-repeat center;
  text-align: center;
}
.right-banners {
  display: flex;
  flex-wrap: wrap;
}
.separator {
  display: block;
  margin: 50px auto;
  text-align: center;
}
.catalog {
  display: flex;
  flex-direction: column;
}
.catalog-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.catalog-menu__item {
  margin-left: 44px;
}
.catalog-menu > .active {
  color: #D31473;
}
.catalog-items {
  display: flex;
  flex-wrap: wrap;
}
.catalog-items__all,
.catalog-items__action {
  display: flex;
  flex-wrap: wrap;
}
.card-product {
  width: 270px;
  margin-bottom: 60px;
  margin-right: 30px;
  font-size: 1.2857rem;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card-product:nth-child(4n) {
  margin-right: 0;
}
.card-product__img {
  position: relative;
  margin-bottom: 20px;
}
.card-product__img_text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 40px;
  transition: 1s;
  opacity: 0;
}
.card-product__img_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #fff;
  opacity: 0;
}
.card-product__img:hover .card-product__img_text {
  transition: 1s;
  opacity: 1;
}
.card-product__img:hover .card-product__img_bg {
  transition: 1s;
  opacity: 0.6;
}
.card-product__action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 1rem;
  color: #fff;
  border-radius: 9px;
  background: #EA8682;
}
.card-product__action.day {
  background: #D797DD;
}
.card-product__title {
  margin-bottom: 15px;
  font-weight: bold;
}
.card-product__cost {
  margin-bottom: 15px;
}
.card-product__cost_item {
  color: #0F3978;
}
.card-product__cost_item:first-child {
  color: #EA8682;
  text-decoration: line-through;
}
.card-product__link {
  color: #555;
  font-size: 1.0714rem;
  text-decoration-line: underline;
}
.card-product__timer {
  margin-top: 15px;
}
.card-product__button {
  width: 230px;
  margin: 18px auto 21px auto;
  padding: 10px 0;
  line-height: 35px;
  color: #fff;
  background: #D31473;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  cursor: pointer;
}
.card-product__button svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: #fff;
}
.middle-action {
  display: flex;
  flex: 1;
  margin-bottom: 60px;
  background: #F7F7F7;
  border-radius: 9px;
}
.middle-action .timer {
  align-self: center;
  flex: 3;
}
.middle-action .timer__title {
  font-size: 34px;
}
.middle-action .timer__item {
  font-size: 50px;
}
.middle-action .timer__item_description {
  font-size: 16px;
}
.middle-action .timer__counter > span {
  margin-top: 4%;
  font-size: 30px;
}
.middle-action__description {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  margin-left: 30px;
}
.middle-action__description span {
  padding-bottom: 37px;
  line-height: 21px;
  color: #555555;
}
.middle-action__title {
  padding: 30px 0px;
  font-size: 1.2857rem;
  text-align: center;
}
.middle-action__button {
  width: 200px;
  margin: 0 auto;
  padding: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #D31473;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.wrap-review {
  margin: 60px auto;
  background: url('../img/review-bg.jpg') no-repeat center;
}
.wrap-review .block-header {
  padding: 60px 0;
  color: #fff;
}
.wrap-review .slider-review {
  position: relative;
  max-width: 830px;
  margin: 0 auto;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.6);
}
.wrap-review .slider-review__item {
  margin-bottom: 30px;
  padding: 50px 30px;
}
.wrap-review .slider-review__item_top {
  clear: both;
  margin-bottom: 20px;
}
.wrap-review .slider-review__item_bot {
  font-style: italic;
  font-size: 1.2857rem;
  line-height: 29px;
}
.wrap-review .slider-review__name {
  font-weight: bold;
  font-size: 1.4286rem;
}
.wrap-review .slider-review__data {
  float: right;
  color: #989898;
}
.wrap-slider-review {
  position: relative;
}
.wrap-slider-review .arrow-slider-left {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-left.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrap-slider-review .arrow-slider-right {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-right.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.review-button {
  display: block;
  max-width: 830px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-style: italic;
  font-size: 1.2857rem;
  text-align: right;
  color: #fff;
  text-decoration: underline;
}
.about-company .block-header {
  margin-bottom: 60px;
}
.about-company__description {
  font-size: 1.143rem;
  line-height: 29px;
  text-align: center;
}
.about-company__description p {
  padding-bottom: 30px;
  text-align: left;
}
.about-company__link {
  color: #0F3978;
  font-size: 1.286rem;
  text-decoration: underline;
}
.about-company__video {
  max-width: 701px;
  height: 393px;
  margin: 60px auto;
}
.block-header.trust {
  position: relative;
  margin-bottom: 112px;
}
.block-header.trust:after {
  position: absolute;
  bottom: -21px;
  left: 50%;
  width: 100px;
  height: 1px;
  background: #D31473;
  content: '';
  transform: translateX(-50%);
}
.slider-trust {
  max-width: 1010px;
  margin: 0 auto;
}
.slider-trust .slick-track {
  display: flex;
  align-items: center;
}
.slider-trust-wrap {
  position: relative;
}
.slider-trust-wrap .arrow-slider-left {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-trust-left.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-trust-wrap .arrow-slider-right {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/arrow-slider-trust-right.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.subscribe-wrap {
  background: #ADD6D7;
  margin: 60px auto;
}
.subscribe__title {
  margin-right: 46px;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 2.143rem;
  color: #fff;
}
.subscribe .buttom-normal {
  margin: 0;
  border: 0;
}
#input-subscribe {
  width: 424px;
  height: 64px;
  margin-right: 30px;
  padding-left: 10px;
  font-size: 1rem;
  font-style: italic;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 6px;
}
.location {
  text-align: center;
}
.location__addres {
  font-weight: 600;
  font-size: 1.286rem;
  color: #0F3978;
}
.location__map {
  margin: 20px 0 39px 0;
}
.location .header-phones {
  margin-bottom: 39px;
}
.location .buttom-normal {
  border: 0;
  margin-bottom: 101px;
}
.footer {
  padding-top: 60px;
  background: #555555;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer__col {
  padding-bottom: 60px;
  list-style-type: none;
  color: #fff;
  font-size: 1.143rem;
  line-height: 29px;
}
.footer__col_title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.571rem;
}
.footer__col_social {
  margin-top: 22px;
  display: flex;
}
.footer__col_social_item {
  margin-right: 20px;
}
.footer__col a {
  color: #fff;
  font-size: 1.143rem;
}
.footer__col a:hover {
  color: #D31473;
  transition: 0.7s;
}
.footer-bot {
  padding: 16px 0;
  background: #333;
}
.footer-bot a {
  color: #c4c4c4;
  text-decoration: underline;
}
.catalog_page__wrap {
  display: flex;
}
.left-menu {
  min-width: 268px;
  margin-right: 32px;
}
.left-menu__item {
  margin-bottom: 20px;
  padding: 20px;
  font-weight: 600;
  font-size: 1.071rem;
  background: #F7F7F7;
  border-radius: 6px;
}
.left-menu__item_title {
  text-transform: uppercase;
  color: #0F3978;
}
.left-menu__list {
  margin-top: 20px;
  font-size: 15px;
  line-height: 29px;
}
.left-menu__list_item .expand-list {
  vertical-align: middle;
  cursor: pointer;
}
.left-menu__list a {
  text-transform: initial;
  color: #555555;
}
.left-menu__list a:hover {
  color: #D31473;
}
.left-menu__sub_menu .left-menu__list_item {
  padding-left: 20px;
}
.catalog_page__products_menu_item {
  width: 200px;
  height: 40px;
  margin-right: 18px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 0;
}
.catalog_page__products_menu_item:last-child {
  margin-right: 0;
}
.catalog_page__products_menu_item:focus,
.catalog_page__products_menu_item :hover {
  border: 1px solid #D31473;
  border-radius: 6px;
}
.catalog_page__products .count-result {
  float: right;
  padding: 10px 0;
  clear: both;
}
.catalog_page__products .catalog-items__all {
  margin-top: 41px;
}
.catalog_page__products .catalog-items__all .card-product:nth-child(4n) {
  margin-right: 30px;
}
.catalog_page__products .catalog-items__all .card-product:nth-child(3n) {
  margin-right: 0;
}
.page-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.page-product__description {
  display: flex;
}
.page-product__description_col {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.page-product__description_col .timer {
  margin: 0 0 30px 0;
  padding: 20px 0;
  background: #F7F7F7;
  border-radius: 6px;
}
.page-product__description_col .card-product__cost {
  font-size: 1.714rem;
}
.page-product__description_col .card-product__button {
  margin: 0 0 20px 0;
  text-align: center;
}
.page-product__description_col .buy-btn {
  background: #0F3978;
}
.page-product__description_col .catalog_page__products_menu_item {
  width: 230px;
  margin: 0 0 20px;
}
.page-product__description_col:nth-child(2) {
  margin-right: 0;
}
.page-product__description .product-article {
  font-weight: 600;
  text-transform: uppercase;
  color: #0F3978;
  margin-bottom: 30px;
}
.page-product__description .product-article span {
  font-weight: normal;
  color: #555555;
}
.page-product__description .bouquet-size {
  margin-bottom: 20px;
}
.page-product__description .bouquet-size__title {
  margin-bottom: 10px;
}
.page-product__description .bouquet-size__wrap {
  display: flex;
  margin: 10px 0;
}
.page-product__description .bouquet-size__item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  padding: 7px;
  text-align: center;
  font-size: 1.286rem;
  background: #F7F7F7;
  border-radius: 6px;
  cursor: pointer;
}
.page-product__description .bouquet-size__item:hover {
  color: #D31473;
}
.page-product__description .number-flowers {
  margin-bottom: 30px;
}
.page-product__description .number-flowers__wrap {
  display: flex;
  margin: 10px 0;
}
.page-product__description .number-flowers__item {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.page-product__description .number-flowers__item:nth-child(odd) {
  color: #D31473;
}
.page-product__description .delivery-info {
  display: flex;
  color: #0F3978;
}
.page-product__description .delivery-info img {
  align-self: flex-start;
  margin-right: 9px;
}
.page-product__description .bouquet-description {
  margin-bottom: 40px;
  line-height: 25px;
}
.page-product__description .bouquet-description__title {
  display: block;
  margin-bottom: ;
  font-weight: 600;
  font-size: 1.286rem;
  text-transform: uppercase;
  color: #0F3978;
}
.page-product__description .bouquet-description__item span {
  font-weight: bold;
}
.page-product__description .card-product__cost {
  font-size: 1.714rem;
}
.page-product-subscribe {
  margin-bottom: 61px;
  font-size: 1.143rem;
}
.page-product-subscribe img {
  margin-left: 10px;
  cursor: pointer;
}
.page-product__description-card {
  margin-bottom: 100px;
}
.page-product__description-card_title {
  font-weight: bold;
  font-size: 1.857rem;
}
.page-product__description-card p {
  margin-top: 20px;
  font-size: 1.143rem;
  line-height: 29px;
}
.recently-watched-items {
  margin-bottom: 100px;
}
.recently-watched-items .catalog-items__all {
  align-items: flex-start;
}
.gifts-items {
  padding: 100px 0;
  background: #F7F7F7;
}
.gifts-items .slider-gift-wrap .card-product__cost_item {
  color: #0F3978;
  text-decoration: none;
}
.wrap-review.card-product-review {
  padding-top: 40px;
  margin-top: -20px;
}
.wrap-review.card-product-review .block-header {
  padding-top: 5px;
}
.slider-page-product {
  flex: 1;
}
.basket {
  margin-bottom: 100px;
}
.basket__nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D31473;
}
.basket__nav_step {
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 1.286rem;
  color: #989898;
}
.basket__nav_step.active {
  color: #D31473;
}
.basket__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 25px;
}
.basket__table_naming {
  margin-top: -15px;
}
.basket__table_naming li {
  margin-bottom: 5px;
}
.basket__table_naming li:first-child {
  margin-bottom: 15px;
}
.basket__table_cost .card-product__cost_item {
  font-size: 1.714rem;
  color: #0F3978;
  text-decoration: none;
}
.basket__table tr {
  border-bottom: 1px dashed #D31473;
}
.basket__table tr:first-child {
  border-bottom: 0;
}
.basket__table tr:last-child {
  border-bottom: 1px solid #D31473;
}
.basket__table th {
  text-align: left;
}
.basket__table td {
  margin-top: -15px;
  padding: 15px;
}
.basket__table_img {
  width: 215px;
}
.basket__table .table_num {
  display: flex;
}
.basket__table .table_num input {
  border: none;
}
.basket__table .table_num__item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  line-height: 40px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
.basket__table .table_title {
  font-size: 1.143rem;
  color: #989898;
}
.basket__table .table_title th {
  padding-left: 15px;
}
.basket__table .table_delete {
  cursor: pointer;
}
.basket__table span {
  display: block;
}
.basket__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
  align-items: center;
  background: #f7f7f7;
  border-radius: 9px;
}
.basket__bottom_item {
  padding: 38px 0;
  font-size: 1.286rem;
}
.basket__bottom_item span {
  font-weight: bold;
}
.basket__bottom_item:nth-child(2) {
  font-size: 1.714rem;
  font-weight: bold;
}
.basket__bottom_item:nth-child(2) span {
  font-weight: normal;
  color: #0F3978;
}
.basket__bottom_item p {
  margin-bottom: 20px;
}
.basket__bottom .buttom-normal {
  margin: 0;
}
.basket h3 {
  margin-bottom: 20px;
  font-family: Book Antiqua;
  font-weight: bold;
  font-size: 20px;
}
.form-step-2 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
}
.form-step-2-anonim {
  display: flex;
  justify-content: space-between;
  color: #0F3978;
}
.form-step-2-wrap {
  align-self: stretch;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #D31473;
  border-bottom: 1px solid #D31473;
}
.form-step-2-wrap p {
  font-size: 1.143rem;
}
.form-step-2__col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
}
.form-step-2__col:last-child {
  margin-right: 0;
}
.form-step-2__col label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #989898;
}
.form-step-2__col input,
.form-step-2__col textarea {
  margin: 5px 0;
  padding-left: 15px;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 0;
}
.form-step-2__col input {
  height: 40px;
}
.form-step-2__col textarea {
  height: 110px;
  padding-left: 0;
}
.step-second,
.step-third {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-second .radio-wrap p,
.step-third .radio-wrap p {
  max-width: 770px;
  margin-left: 36px;
  margin-bottom: 30px;
  font-size: 1.143rem;
}
.step-third .radio + label:before {
  top: 2px;
}
.step-third .radio + label:after {
  top: 8px;
  left: 6px;
}
.step-third label {
  font-family: Book Antiqua;
  font-size: 1.429rem;
  font-weight: bold;
}
.step-third h3 {
  margin-bottom: 45px;
}
.step-third .basket__bottom {
  align-self: stretch;
  background: inherit;
  border-top: 1px solid #D31473;
  border-radius: 0;
}
.step-third .basket__bottom .buttom-normal {
  margin: 30px auto;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 10px 30px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '\2713';
  color: transparent;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  background: #F7F7F7;
  transition: .2s;
}
.checkbox:checked + label:before {
  font-size: 22px;
  color: #D31473;
  padding-bottom: 2px;
}
.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}
.radio + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #D31473;
  border-radius: 50%;
  background: #FFF;
}
.radio + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #D31473;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio-wrap {
  margin-bottom: 10px;
}
