@import "../fonts/font.css";

html {
  scroll-behavior: smooth;
  font-size: 14px;
} 

body {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover, ul, li  {
  text-decoration: none;
  list-style-type: none;
}

p a {
  color: #D31473;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: 0;
}

input:active, :hover, :focus,
select:active, :hover, :focus,
option:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

textarea {
  padding: 0;
  resize: none;
}

h1 {
  font-size: 2.8571rem;
}

h2 {
  font-size: 3.8571rem;
}

h3 {
  font-size: 1.557rem;
}

h4 {
  font-size: 1.571rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
  // padding: 0 15px;
}

.block-header {
  margin-bottom: 50px;
  font-family: Book Antiqua;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8571rem;
  text-align: center;
}

.buttom-normal {
  width: 270px;
  margin: 0 auto;
  padding: 19px 0;
  font-size: 1.4286rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #D31473;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

// timer-main-settings
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 15px;
    color: #D31473;
  }

  &__counter {
    display: flex;
    font-size: 23px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 9px;
    color: #0F3978;
    text-align: center;

    &_description {
      text-transform: lowercase;
      color: #333;
      font-size: 9px;
    }
  }
}

// bread-crumbs 
.bread-crumbs {
  margin: 30px 0 10px 0;

  &__item {
    color: #555555;

    &:after {
      padding: 0 3px;
      content: '/';
    }

    &:last-child {
      
      color: #989898;

      &:after {
        content: '';
      }
    }
  }
}

/* header */

.sticky-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.top-header {  
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-content: center;
  
}

 .top-header-item {
  display: flex;
  align-items: center;
  text-align: center;
}

// город
.header-delivery {
  margin-bottom: 9px;
}
.header-city {
  display: flex;
  margin-bottom: -5px;

  & span {
    color: #0F3978;
    margin-left: 10px;
    border-bottom: 1px dashed #0F3978;
  }
} 

// меню
.top-menu {
  width: 588px;

  &__item {    
    position: relative;
    display: block;
    margin-right: 34px;
    
    &:nth-child(2):after {
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      content: ' ';
      background: url(../img/icon/icon_arrow.svg) no-repeat center;
  }

    & a {
      color: #333;
    }

    &:hover {
      color: #D31473;
      transition: 0.5s;

      & .sub-menu {
        display: flex;
        position: absolute;
        padding: 20px;
        text-align: left;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// поиск
.search-form {
  cursor: pointer;
  &-item {
    position: relative;
    display: none;
  }
  &-input {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #D31473;
  }
  &-close {
    position: absolute;
    top: 3px;
    right: 10px;
    display: block;
    padding: 0 5px;
    font-weight: bold;
    color: #D31473;
    cursor: pointer;
  }
}

// номер
.header-phones {
  line-height: 1px;
  &__number {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.5714rem;
    color: #D31473;
  }
}

// midle-header

.midle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 165px;

  &-wrap {
    background: #F7F7F7;
  }
}

.time-delivery {
  line-height: 21px;
}
//logo

.header-logo {
  
  &__item {
    display: flex;
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 2.8571rem;
    color: #33448C;
  
    & h1 {
      line-height: 57px;
    }
  }
}

.header-tagline {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #D31473;
}

// button
.button-callback {
  width: 165px;
  height: 51px;
  font-size: 1.003rem;
  font-weight: bold;
  text-align: center;
  line-height: 51px;
  color: #0F3978;
  border: 1px solid #0F3978;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background: #0F3978;
    transition: 0.7s;
  }
}

// bottom-header
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// bottom menu
.burger-menu {
  display: none;
}
.main-menu {
  display: flex;
  align-items: center;
  height: 81px;
  font-weight: 600;
  font-size: 1.071rem;

  &__item {
    position: relative;
    display: block;
    margin-right: 35px;
    text-transform: uppercase;
    
    &:hover > a{
      color: #D31473;
      transition: 0.5s;
    }
    
    & a {
      color: #333333;
    }

    &:hover > .sub-menu {
      position: absolute;
      top: 100%;
      display: flex;
      text-transform: initial;
      font-weight: normal;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    &:after {
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      content: ' ';
      background: url('../img/icon/icon_arrow.svg') no-repeat center;
    }

    &:first-child {

      & img {
        margin-right: 5px;
      }
    }

    &:nth-child(5):after {
      content: none;
    }

  }
}

.header-cart {
  position: relative;
  display: block;

  & svg{
    width: 24px;
    fill: #0F3978;
  }
}

.basket-count {
  position: absolute;
  top: 12px;
  left: -16px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background: #D31473;
  color: #fff;
}

// sub-menu
.sub-menu {
  display: none;
  padding: 40px;
  background: #fff;
  border-radius: 9px;
  
  &__col {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  &__link {
    margin-bottom: 1.214rem;
    white-space: nowrap;

    &:hover {
      color: #D31473;
      transition: 0.7s;
    }
  }
}

// slider 
.wrap-main-slider {
  position: relative;

  & .main-slider-l {
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('../img/icon/arrow-slider-left.svg') no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }
  & .main-slider-r {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    background: url('../img/icon/arrow-slider-right.svg') no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.main-slider {
  position: relative;
  max-width: 100%;
  // min-height: 480px;
  margin-bottom: 60px;
  overflow: hidden;

  

  &__banner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    font-size: 0.9286rem;

    &_item {      
    max-width: 242px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 0 0 9px 9px;
    background-color: rgba(5, 5, 5, 0.3);
    color: #fff;
    }
  }

  &__item {
    position: relative;
    
    & img {
      width: 100%;
    }
  }
  &__text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.35rem;

    & span {
      font-size: 1.514rem;
      font-weight: normal;
    }
  }

  & .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;

    & li {
      width: 12px;
      height: 12px;
      background: inherit;
      border: 1px solid #FFFFFF;
      border-radius: 2px;

      &.slick-active {
        background: #fff;
      }
    }
  }
 
}

// banners


.banners {

  & img {
    width: 100%;
  }

  &-item {
    position: relative;
    margin-left: 30px;
    
    &:hover &_bg {
      opacity: 0.7;
      transition: 0.7s;
    }

    &:hover &_bg_text {
      opacity: 1;
      transition: 0.7s;
    }

    &_bg {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 98%;
      background: #D31473;
      opacity: 0;
      border-radius: 9px;

      &_text {
        position: absolute;
        z-index: 23;
        top: 17%;
        padding: 0 20px;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.7rem;
        color: #fff;
        opacity: 0;
      }
    }
  }

  &-item__text {
    position: relative;
    z-index: 1;
    height: 50px;
    font-size: 26px;
    color: #fff;    

    & span {
      position: relative;
      z-index: 1;
      vertical-align: middle;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #97B3DD;
      opacity: 0.5;
      content: '';
    }
  }
}

.first-banner {

  .banners-item__text {
    position: absolute;   
    bottom: 7px;
    width: 100%;
  }


  & .banners-item_bg {
    height: 98%;
    &_text {
      left: 0;
    }
  }
}

// banners-grid
.banners {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

    .first-banner {
      grid-row-start: 1;
      grid-row-end: 4;


    }

    &-item {
      margin: 10px;

      &:nth-child(2) {
        grid-column-start: 2 ;
        grid-column-end: 4;
      }

      &:nth-child(3) {
        grid-column-start: 2 ;
        grid-column-end: 3;
      }

      &:nth-child(4) {
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }
    
}

.separator {
  display: block;
  margin: 50px auto;
  text-align: center;
}

// catalog
.catalog {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  
  &-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &__item {
      margin-left: 44px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: #D31473;
      } 
    }

    & > .active {
      color: #D31473;
    }

  }

  &-items {
    display: flex;
    flex-wrap: wrap;

    &__all, &__action {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

// card-product
.card-product {
  width: 22%;
  min-width: 240px;
  margin: 0 15px 60px 15px;
  font-size: 1.2857rem;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &__img {
    position: relative;
    margin-bottom: 10px;

    & img {
      width: 100%;
    }

    &_text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 31px;
      transition: 1s;
      opacity: 0;
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      background: #fff;
      opacity: 0;
    }    

    &:hover &_text {
      transition: 1s;
      opacity: 1;
    }

    &:hover &_bg {
      transition: 1s;
      opacity: 0.8;
    }    

  }

  &__action {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 9px;
    border-radius: 9px;
    background: #EA8682;

    &.day {
      background: #D797DD;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: bold;
  }

  // добавить теньге
  &__cost {
    margin-bottom: 10px;

    &_item {
      color: #0F3978;
      
      &:first-child {
        color:#EA8682; 
        text-decoration: line-through;
      }
    }
  }

  &__link {
    color: #555;
    font-size: 1.0714rem;
    text-decoration-line: underline;
  }

  &__timer {
    margin-top: 15px;
  }

  &__button {
    width: 230px;
    margin: 18px auto 21px auto;
    padding: 10px 0; 
    line-height: 35px;
    color: #fff;
    background: #D31473;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    cursor: pointer;

    & svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      fill: #fff;
    }
  }

}

// middle-action 
.middle-action {
  display: flex;
  flex-grow: 1;
  margin-bottom: 60px;
  background: #F7F7F7;
  border-radius: 9px;

  & .timer {
    align-self: center;
    flex: 3;

    &__title {
      font-size: 34px;
    }
    
    &__item {
      font-size: 50px;

      &_description {
        font-size: 16px;
      }
    }

    &__counter > span {
      margin-top: 4%;
      font-size: 30px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    margin-left: 30px;

    & span {
      padding-bottom: 37px;
      line-height: 21px;
      color: #555555;
    }
  }

  &__title {
    padding: 30px 0px;
    font-size: 1.2857rem;
    text-align: center;
  }

  &__button {
    width: 200px;
    margin: 0 auto;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;    
    background: #D31473;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
  }

}

// review
.wrap-review {
  margin: 60px auto;
  background: url('../img/review-bg.jpg') no-repeat center;

  & .block-header {
    margin-bottom: 0;
    padding: 60px 0;
    color: #fff;
  }

  .slider-review {
    position: relative;
    max-width: 830px;
    margin: 0 auto;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.6);

    &__item {
      margin-bottom: 30px;
      padding: 50px 30px;

      &_top {
        clear: both;
        margin-bottom: 20px;
      }

      &_bot {
        font-style: italic;
        font-size: 1.2857rem;
        line-height: 29px;
      }
    }

    &__name {
      font-weight: bold;
      font-size: 1.4286rem;
    }

    &__data {
      float: right;
      color: #989898;
    }
  }
}

.wrap-slider-review {
  position: relative;

  & .feedback-l {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 40px;
    height: 40px;
    background: url('../img/icon/arrow-slider-left.svg') no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }
  & .feedback-r {
    position: absolute;
    top: 50%;
    right: 100px;
    width: 40px;
    height: 40px;
    background: url('../img/icon/arrow-slider-right.svg') no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }
}





.review-button {
  display: block;
  max-width: 830px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-style: italic;
  font-size: 1.2857rem;
  text-align: right;
  color: #fff;
  text-decoration: underline;  

}

// abaout_company

.about-company {
  
  & .block-header {
    margin-bottom: 60px;
  }

  &__description {
    font-size: 1.143rem;
    line-height: 29px;
    text-align: center;

    & p {
      padding-bottom: 30px;
      text-align: left;
    }
 
  } 

  &__link {
    color: #0F3978;
    font-size: 1.286rem;
    font-style: italic;
    text-decoration: underline;
  }

  &__video {
    max-width: 701px;
    height: 393px;
    margin: 60px auto;
  }
}

// slider-trust
// убрать дисплей флекс
.block-header.trust {
  position: relative;
  margin-bottom: 112px;
  
  &:after {
    position: absolute;
    bottom: -21px;
    left: 50%;
    width: 100px;
    height: 1px;
    background: #D31473;
    content: '';
    transform: translateX(-50%);
  }
}

.slider-trust {
  max-width: 1010px;
  margin: 0 auto;

  & .slick-track {
    display: flex;
    align-items: center;
  }

  &-wrap {
      position: relative;
    
      & .arrow-slider-left {
        position: absolute;
        top: 50%;
        left: 0;
        width: 40px;
        height: 40px;
        background: url('../img/icon/arrow-slider-trust-left.svg') no-repeat center;
        transform: translateY(-50%);
        cursor: pointer;
      }
      & .arrow-slider-right {
        position: absolute;
        top: 50%;
        right:0;
        width: 40px;
        height: 40px;
        background: url('../img/icon/arrow-slider-trust-right.svg') no-repeat center;
        transform: translateY(-50%);
        cursor: pointer;
      }
  }

  &__item.slick-slide {
    display: flex;
    justify-content: center;
  }
}

// subscribe

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  &-wrap {
    background: #ADD6D7;
    margin: 60px auto;
  }

  &__title {
    margin-right: 46px;
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 2.143rem;
    color: #fff;
  }

  & .buttom-normal {
    margin: 0;
    border: 0;
  }
}

#input-subscribe {
  width: 424px;
  height: 64px;
  margin-right: 30px;
  padding-left: 10px;
  font-size: 1rem;
  font-style: italic;
  background: #F7F7F7;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 6px;
}

// location

.location {
  padding-top: 60px;
  text-align: center;
  background: #F7F7F7;

  &__addres {
    font-weight: 600;
    font-size: 1.286rem;
    color: #0F3978;
  }

  &__map {
    margin: 20px 0 39px 0;

    & iframe {
      width: 100%;
    }
  }

  & .header-phones {
    margin-bottom: 39px;
  }

  & .header-phones__number {
    font-size: 1.5714rem;
  }

  & .buttom-normal {
    border: 0;
    margin-bottom: 101px;
    background: #0F3978;
  }

  & .block-header {
    padding-top: 20px;
  }

}

// footer

.footer {
  padding-top: 60px;
  background: #555555;
  
  & .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  &__col {
    padding-bottom: 60px;    
    list-style-type: none;
    color: #fff;
    font-size: 1.143rem;
    line-height: 29px;

    &_title {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 1.571rem;
    }

    &_social {
      margin-top: 22px;
      display: flex;

      &_item {
        margin-right: 20px;
      }
    }

    & a {
      color: #fff;
      font-size: 1.143rem;

      &:hover {
        color: #D31473;
        transition: 0.7s;
      }
    }
  }

  &-bot {
    padding: 16px 0;
    background: #333;

    & a {
      color: #c4c4c4;
      text-decoration: underline;
    }
  }
}

// catalog_page
.catalog_page__wrap {
  display: flex;
}

.left-menu {
  min-width: 268px;
  margin-right: 32px;

  &__item {
    margin-bottom: 20px;
    padding: 20px;
    font-weight: 600;
    font-size: 1.071rem;
    background: #F7F7F7;
    border-radius: 6px;

    &_title {
      text-transform: uppercase;
      color: #0F3978;
    }
  }

  &__list {
    margin-top: 20px;
    font-size: 15px;
    line-height: 29px;

    &_item {

      & .expand-list {
        vertical-align: middle;
        cursor: pointer;
      }
    }

    & a {
      text-transform: initial;
      color: #555555;
      
      &:hover {
        color: #D31473;
      }
    }
  }

  &__sub_menu .left-menu__list_item {
    padding-left: 20px;
  }
}
// left menu on page-catalog end 


.catalog_page__products {

  &_menu {

    &_item {
      width: 200px;
      height: 40px;
      margin-right: 18px;
      background: #F7F7F7;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      border: 0;

      &:last-child {
        margin-right: 0;
      }

      &:focus,:hover {
        // outline: 1px solid #D31473;
        border: 1px solid #D31473;
        border-radius: 6px;
      }
    }
  }

  & .catalog_page__products_menu_item {
    margin-bottom: 10px;
  }

  & .count-result {
    display: block;
    padding: 10px 0;
    text-align: right;
  }

  & .catalog-items {
    margin-top: 41px;
    justify-content: center;

  }

  & .card-product {
    // width: 29%;
  }

  & .card-product__title {
    font-size: 1.757rem;
  }

}

// page card product

.page-product {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 57px;

  &__info {
    flex: 1;
  }

  &__description {
    display: flex;
    justify-content: space-around;

    &_col {
      max-width: 270px;
      display: flex;
      flex-direction: column;

      &:first-child {
        margin-left: 10px;
        margin-right: 40px;
      }

      & .timer {
        margin: 0 0 30px 0;
        padding: 20px 0;
        background: #F7F7F7;
        border-radius: 6px;
      }

      & .card-product__cost {
        font-size: 1.714rem;
      }

      & .card-product__button {
        margin: 0 0 20px 0;
        text-align: center;
      }

      & .buy-btn {
        background: #0F3978;
      }

      & .catalog_page__products_menu_item {
        width: 230px;
        margin: 0 0 20px;
      }

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    & .product-article {
      visibility: hidden;
      font-weight: 600;
      text-transform: uppercase;
      color: #0F3978;
      margin-bottom: 30px;

      & span {
        font-weight: normal;
        color: #555555;
      }

    }

    & .bouquet-size {
      margin-bottom: 20px;
      &__title {
        margin-bottom: 10px;
      }
      &__wrap  {
        display: flex;
        margin: 10px 0;
      }
      &__item {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        padding: 7px;
        text-align: center;
        font-size: 1.286rem;
        background: #F7F7F7;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          color: #D31473;
        }
      }
    }

    & .number-flowers {
      margin-bottom: 30px;
      &__wrap {
        display: flex;
        margin: 10px 0
      }

      &__item {
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);

        &:nth-child(odd) {
          color: #D31473;
        }
      }
    }

    & .delivery-info {
      display: flex;
      color: #0F3978;     
      & img {
        align-self: flex-start;
        margin-right: 9px;
      } 
    }

    // right col

    & .bouquet-description {
      margin-bottom: 40px;
      line-height: 25px;

      &__title {
        display: block;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.286rem;
        text-transform: uppercase;
        color: #0F3978;
      }

      &__item span {
        font-weight: bold;
      } 
    }

    & .card-product__cost {
      font-size: 1.714rem;
    }
  }

  &-subscribe {
    margin-bottom: 61px;
    font-size: 1.143rem;
     & img {
       margin-left: 10px;
       cursor: pointer;
     }
  }

  &__description-card {
    margin-bottom: 100px;

    &_title {
      font-weight: bold;
      font-size: 1.857rem;
    }

    & p {
      margin-top: 20px;      
      font-size: 1.143rem;
      line-height: 29px;
    }
  }
}

.recently-watched-items {
  position: relative;
  margin-bottom: 100px;

  & .catalog-items {
    align-items: flex-start;
  }
}

.gifts-items {
  padding: 100px 0;
  background: #F7F7F7;

  & .slider-gift-wrap .card-product__cost_item {
    color: #0F3978;
    text-decoration: none;
  }

}

.slider-gift-wrap,
.slider-related-wrap {
  position: relative;
}

.slider-gift-arr-l,
.slider-related-arr-l,
.slider-recently-watched-arr-l {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/left-rose-arr.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider-gift-arr-r,
.slider-related-arr-r,
.slider-recently-watched-arr-r {
  position: absolute;
  top: 50%;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url('../img/icon/right-rose-arr.svg') no-repeat center;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider-recently-watched-arr-r {
  background: url('../img/icon/right-rose-arr.svg') no-repeat center;
}
.slider-recently-watched-arr-l {
  background: url('../img/icon/left-rose-arr.svg') no-repeat center;
}

.wrap-review.card-product-review {
  padding-top: 40px;    
  margin-top: -20px;

  & .block-header {
    padding-top: 5px;
  }
}

.slider-page-product {
  flex: 1;
}

// basket

.basket {
  margin-bottom: 100px;

  &__nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D31473;

    &_step {
      font-family: Book Antiqua;
      font-weight: bold;
      font-size: 1.286rem;
      color: #989898;

      &.active {
        color: #D31473;
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px 25px;
    
    &_naming {
      margin-top: -15px;

      & li {
        margin-bottom: 5px;
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }

    &_cost .card-product__cost_item {
      font-size: 1.714rem; 
      color: #0F3978;
      text-decoration: none;
    }

    & tr {
      border-bottom: 1px dashed #D31473;

      &:first-child {
        border-bottom: 0;
      }

      &:last-child {        
      border-bottom: 1px solid #D31473;
      }
    }

    & th {
      text-align: left;
    }
    & td {
      margin-top: -15px;
      padding: 15px;
    }


    &_img {
      width: 215px;
    }

    & .table {
     
      &_num {
        display: flex;

        & input {
          border: none;
        }

        &__item {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          line-height: 40px;
          background: #F7F7F7;
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
          border-radius: 6px;
          text-align: center;
          cursor: pointer;
        }
      }

      &_title {
        font-size: 1.143rem;
        color: #989898;

        & th {
          padding-left: 15px;
        }
      }

      &_delete {
        cursor: pointer;
      }
    
    }

    & span {
      display: block;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;
    align-items: center;
    background: #f7f7f7;
    border-radius: 9px;

    &_item {
      padding: 38px 0;
      font-size: 1.286rem;

      & span {
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 1.714rem;
        font-weight: bold;

        & span {
          font-weight: normal;
          color: #0F3978;
        }
      }

      p {
        margin-bottom: 20px;
      }
    }

    & .buttom-normal {
      margin: 0;
    }
  }

  & h3 {
    margin: 40px 0 20px 0;
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 20px;
  }

}

.form-step-2 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;

  & .date-delivery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & label {
      flex: 1;
      max-width: 300px;
      &:first-child {
        position: relative;
        margin-right: 10px;

        & img {
          position: absolute;
          bottom: 18%;
          right: 5%;
          width: 18px;
        }
      }
    }

    &-input {
      

      
    }
  }
  
  &-anonim {
    display: flex;
    justify-content: space-between;
    color: #0F3978;
   
  }

  &-wrap {
    align-self: stretch;
    margin: 40px 0 60px 0;
    padding: 10px 0;
    border-top: 1px solid #D31473;
    border-bottom: 1px solid #D31473;

    & p {
      font-size: 1.143rem;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 25px;

    &:last-child {
      margin-right: 5px;
    }
    
    & label {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      color: #989898;
    }

    & input,
    & textarea {
      padding: 5px;
      background: #F7F7F7;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      border: 0;
    }

    & input {
      height: 40px;
    }
    & textarea {
      height: 110px;
    }
  }
}

.input-file {
  padding-left: 15px;
}


// radio
.step-second,
.step-third {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .radio-wrap p {
    max-width: 770px;
    margin-left: 36px;
    margin-bottom: 30px;
    font-size: 1.143rem;
  }
}

.step-third .radio + label:before {
  top: 2px;
}

.step-third .radio + label:after {
  top: 8px;
  left: 0.39em;
}

.step-third label {
  font-family: Book Antiqua;
  font-size: 1.429rem;
  font-weight: bold;
}

.step-third {

  & h3 {
    margin-bottom: 45px;
  }

  & .basket__bottom {
    align-self: stretch;
    background: inherit;
    border-top: 1px solid #D31473;
    border-radius: 0;

    & .buttom-normal {
      margin: 30px auto;
    }
  }
  
}

.step-fourth {
  max-width: 770px;
  margin: 0 auto;
  font-size: 1.143rem;
  line-height: 29px;

  & .block-header {
    color: #0F3978;
  }

  & p {
    margin-bottom: 45px;
  }

  & li {
    margin-bottom: 5px;

    & span {
      font-weight: bold;
    }
  }
}

// c


// radio and checkbox

.radio,
.checkbox {
  display: none;

  &-wrap {
  }
}

.label-style {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;

  &_i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #D31473;
    border-radius: 6px;

    &:before {
      position: absolute;
      top: 3px; 
      bottom: 3px;
      left: 3px;
      right: 3px; 
      content: '';
      background: #D31473;
      border-radius: 6px;
      transform: scale(0);
      transition: 0.4s;
    }
  }

  & .radio + i {
    border-radius: 50%;
  }

  & .radio:checked + i:before {
      transform: scale(1);
    }

  & .checkbox + i {
    border: 2px solid #0F3978;
  }

  & .checkbox + i:before {
    background: initial;
    transform: none;
    transition: none;
  }

  & .checkbox:checked + i:before {
    top: -11px;
    bottom: 0;
    left: 0px;
    right: 0;
    content: '\2713';
    background: none;
    font-size: 20px;
  }


}


























// radio-end

// opt
.opt {
  
  line-height: 2.071rem;
  overflow: hidden;

  & .block-header {
    text-align: left;
    margin-bottom: 30px;
  }

  & h3, h4 {
    margin: 30px 0 20px 0;
  }


  &__list {
    
    & li {
      margin-left: 18px;
      list-style-type: disc;
      color: #D31473;

      & span {
        color: #333;
      }
    }
  }
  
  &__banner {
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
    background: url(../img/opt.png) no-repeat center;
    background-size: cover;
    color: #D31473;
    & h2 {
      font-family: Book Antiqua;
      font-weight: bold;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;

    &_item {
      font-size: 1.143rem;
      color: #333; 

      & span {
        color: #D31473;
      }

      &:hover {
        color: #D31473;
        transition: 0.7s;
      }
    }
  }

  &__form {
    // display: flex;
    margin-bottom: 100px;

    &_item {
      width: 270px;
      height: 40px;
      padding-left: 15px;
      margin-right: 30px;
      background: #F7F7F7;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      border: 0;

      &.textarea {
        width: 875px;
        height: 249px;
        padding: 10px;
        margin-top: 30px;
        resize: none;
      }

    }

    & .buttom-normal {
      display: block;
      margin: 0;
      margin-top: 10px;
      background: #0F3978;
    }
  }
}

// error 

.error > .container{
  position: relative;
  height: 620px;
  // height: 792px;
  background: url(../img/404.jpg) no-repeat center ;
  background-size: cover;
}

.hide {
  display: none;
  transition: 0.5s;
}
.show {
  display: block;
  transition: 0.5s;
}

.error-link {
  position: absolute;
  left: 65%;
  top: 63%;
  display: block;
  width: 300px;
  transform: translate(-65%, -63%);

  &-item {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #989898;
    transform: rotate(-14deg);

    & span {
      color: #D31473;
    }

    &:hover span{
      text-decoration: underline;
    }
  }
}

.pag-nav {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  &__item {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;

    &:hover a{
      color: #D31473;
    }

    &.active a{
      color: #D31473;
    }
  }
}


.modal-select-city {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
  width: 387px;
  padding: 40px 0;
  text-align: center;
  color: #0F3978;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;

  & h5 {
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 22px;
    color: #D31473;
  }

  & .modal-checkbox {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 1.143rem;
    font-weight: 600;
  }

  & .check-box-wrap {
    display: flex;
    flex-wrap: wrap;

    & .label-style {
      margin-right: 46px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.modal-overlay,
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
.menu-overlay {
  opacity: 0.4;
}

.menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 50%;
  height: 100%;  
  transition: 0.5s;
  transform: translate(-100%);
  overflow: auto;

  & .sub-menu {
    flex-direction: column;
    padding: 10px 30px;
  }

  &__item {
    position: relative;
    padding: 15px 10px;
    border-bottom: 1px solid #555555;

    & a {
      color: #333;

      &:hover {
        color: #D31473;
      }
    } 

    &:after {
      position: absolute;
      top: 27px;
      right: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      content: ' ';
      background: url(../img/icon/icon_arrow.svg) no-repeat center;
    }
  }   
}

.menu-active {
  transform: translateX(0%);  
  box-shadow: 4px 3px 40px -24px #000000;
}

.content-page {
  position: relative;
  transition: 0.5s;
}

.content-active {
  transform: translateX(50%);
}


.modal {
  display: flex;
  max-width: 600px;

  &-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
    background: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;  
  }

  &-title {
    font-size: 1.714rem;
    font-family: Book Antiqua;
    font-weight: bold;
    margin-bottom: 31px;
  }

  &-text {
    margin-bottom: 41px;
    font-size: 14px;
    text-align: left;
    line-height: 19px;

  }

  &-button {
    max-width: 220px;
    padding: 15px 0;
    font-size: 1.286rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #D31473;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #fff;
  }

  &-input {
    font-style: italic;
    padding: 14px 0 14px 10px;
    margin-bottom: 44px;
    background: #F7F7F7;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 6px;
  }
  
  &-close {
    position: absolute;
    right: -15px;
    top: -10px;
    width: 31px;
    height: 31px;
    font-weight: bold;
    text-align: center;
    line-height: 31px;
    color: #0F3978;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

}

.modal-buy {

  

  &-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 40px;
    text-align: center;

    &:first-child {
      background: #0F3978;
      color: #fff;
    }

    &:last-child {
      font-size: 1.286rem;
    }
  }  

  &-img {
    margin-bottom: 36px;
  }

  &-name-product {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-cost {
    font-weight: bold;
  }
}

.modal-call-back .modal-buy {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%,-50%);
  max-width: 300px;
}

.modal-review {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%,-50%);

  &-modal-buy {
    justify-content: center;
  }
  & .modal-buy-item {
    max-width: inherit;
  }
  & .modal-buy-item {
    width: 400px;
  }

  & .modal-buy-button {
    width: 220px;
    margin: 0 auto;
  }
}

.personal-data {
  background: #0F3978;
  & .modal {
    overflow: auto;
    height: 500px;
  }
  & .modal-buy-item {
    max-width: inherit;
  }
}


.start-page {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .container {
    width: 99%;
    padding: 0 5px;
  }
  .card-product__img_text {
    padding: 26px;
  }

  .slider-gift-arr-l.slick-arrow,
  .slider-gift-arr-r.slick-arrow,
  .slider-related-arr-r.slick-arrow,
  .slider-related-arr-l.slick-arrow {
    display: none !important;
  }

  
}

@media (max-width: 1150px) {
  .left-menu {
    min-width: 232px;
  }
  .banners-item_bg_text {
    font-size: 1rem;
  }
  .banners-item__text {
    text-align: center;
    font-size: 1.3rem;
  }
}

@media (max-width: 1120px) {
  .card-product {
    width: 30%;
  }  

  .feedback-l.slick-arrow {
    left: 0;
  }

  .feedback-r.slick-arrow {
    right: 0;
  }



}

@media (max-width: 1050px) {

  .banners-item_bg_text {
    top: 9%;
  }

  .header-phones__number {
    font-size: 1rem;
    margin-left: 2px;
  }

  .header-whatsapp img {
    width: 26px;
  }

  .middle-action__timer {
    margin-top: 10px;
  }
 
  .middle-action .timer__title {
    font-size: 28px;
    white-space: nowrap;
  }
  .middle-action .timer__item {
    font-size: 38px
  }

  // basket
  .basket__bottom_item {
    font-size: 1rem;

    &:nth-child(2) {
      font-size: 1.524rem;
    }
  }

  .form-step-2 {
    flex-wrap: wrap;

    &__col {
      max-width: 320px;
      // justify-content: space-around;
      & h3 {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 990px) {
  .search-form {
    display: none;
  }
  .middle-action {
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 0;
  }
  .middle-action__timer .timer {
    order: -1;
    min-width: 100%;
    margin-bottom: 15px;
  }
  .card-product__img_text {
    padding: 19px;
  }

  .page-product {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider-page-product {
    margin-bottom: 50px;
  }

}

@media (max-width: 950px) {
.first-banner .banners-item_bg {
  height: 95%;
}
.first-banner .banners-item__text {
    bottom: 15px;
}

  .feedback-l,
  .feedback-r {
    display: none;
  }
  .opt__form_wrap_input {
    display: flex;
    flex-direction: column;
  }
  .opt__form_item {
    margin-bottom: 15px;
  }
}
@media (max-width: 930px) {
  .card-product {
    min-width: 240px;
    width: 29%;
  }
  .form-step-2__col:nth-child(2) {
    margin-right: 125px;
  }
  .form-step-2__col:last-child {
    min-width: 90%;
  }

  
  .banners-item_bg_text{
    top: 5%;
    line-height: 1.5rem;
  }

  // basket 
  .basket__bottom {
    flex-direction: column;
    &_item:first-child {
      padding-bottom: 0;
    }
    &_item:nth-child(2) {
      margin-bottom: 0;
      padding-top: 10px;
    }
    & .buttom-normal {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 900px) {
  .main-menu {
    display: none;
  }
  .menu-mobile> .main-menu {
    display: flex;
  }
  .burger-menu {
    display: block;
  }
  .opt__form_item.textarea {
    width: 100%;
  }
}

@media (max-width: 880px) {
  // .left-menu,
  .time-delivery {
    display: none;
  }
  .bottom-header {
    padding: 10px;
  }

  .banners,
  .top-menu {
    display: none;
  }

  .catalog_page__products .catalog_page__products_menu_item {
    width: 190px;
  }

}

@media (max-width: 860px) {
  

}

@media (max-width: 840px) {
  .catalog-items {
    justify-content: center;
  }

}

@media (max-width: 770px) {
  .table_title {
    display: none;
  }
  .table_row {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .basket__table td {
    width: 36%;
    &:last-child {
      width: auto;
    }
  }

  .card-product__cost {
    margin-bottom: 0;
  }
}

@media (max-width: 730px) {
  .midle-header {
    justify-content: center;
  }

  .button-callback,
  .main-slider__banner {
    display: none;
  }

  .main-slider__text {
    font-size: 2.35rem;
  }

  .slider-trust__item.slick-slide {
    display: flex;
    justify-content: center;
  }

}
@media (max-width: 660px) {
  .opt__banner h2 {
   font-size: 2.8571rem;
  }
}



@media (max-width: 565px) {

  .form-step-2,
  .form-step-2-anonim {
    flex-direction: column;
  }
  .check-box-wrap {
    margin-top: 15px;
  }

  .catalog-menu {
    display: none;
  }
  .card-product {
    width: 56%;
  } 

  .main-slider__text {
    font-size: 1rem;
  }

  .middle-action .timer__title {
    font-size: 23px;
    white-space: nowrap;
  }
  .middle-action .timer__item {
    font-size: 33px
  }

  .form-step-2__col:nth-child(2) {
    margin-right: 0;
  }

  // basket
  .basket__table td { 
    width: auto;
  }

  .page-product__description {
    flex-wrap: wrap;

    &_col {
      margin-bottom: 25px;
      align-items: center;

      &:first-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  
  .opt h2,
  .opt h3,
  .opt h4 {
    line-height: 42px;
  }

  .opt__banner {
    height: auto;
  }

  .opt__banner h2 {
    padding: 50px ;
  }


  .opt .block-header {
    text-align: center;
  }

  .error > .container {
    height: 350px;
  }
  .error-link {
    left: 78%;
    top: 59%;
  }
  .error-link-item {
    font-size: 17px;
  }

  // popup
  .modal-select-city .modal-checkbox {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .wrap-review,
  .section-main-slider {
    display: none;
  }
  .opt__banner h2 {
    font-size: 1.8571rem;
   }
   .opt__form_item {
     width: 250px;
   }
   .buttom-normal {
     width: 240px;
   }

   .modal-select-city {
     width: 78%;
     padding: 40px;
   }
}

@media (max-width: 450px) {
  .error-link {
    left: 83%;
  }
  .error-link-item {
    font-size: 14px;
  }
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: none;
}


